/* body{
    margin: 0px;
}
header {
    background: grey;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}
header li {
    text-align: right;
    padding: 15px;
    display: flex;
    
}
header h1{
    margin-left: 15px;
} */
 header div {
    background-color: navy; 
    padding: 20px;
}

header ul {
    list-style: none;       
    text-align: right;       
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline;         
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
p{
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
body {
    background: beige;
}
header h1 {
    font-size: 40px;
    text-align: center;
    color: beige;
}