/* task 3.1 */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* task 3.2 */
.profile-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(233, 17, 17, 0.747);
}

/* task 3.3 */
.profile-image{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    border: 3px solid 3498db;
    margin-bottom: 15px;
}

/* task 3.4 */
h1{
    color: rgb(255, 0, 0);
    margin-bottom: 15px;
}
h2{
    color: rgb(230, 0, 0);
}

/* task 3.5 */
p{
    font-size: 25px;
    line-height: 15px;
    color: darkgray;
    margin-bottom: 25px;
}

/* task 3.6 */
.skills-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* task 3.7 */
.skills-list li{
    background-color: #e0e0e0;
    color: #333;
    padding: 7px;
    border-radius: 10px;
    margin: 5px;
    font-size: 17px;
}

/* task 3.8 */
.contact-links a{
    display: inline-block;
    background-color: darkgray;
    color: white;
    padding: 10px;
    text-decoration: unset;
    border-radius: 10px;
    margin: 10px;
    transition: backgrpund-color 1s ease;
}

/* task 3.9 */
.contact-links a:hover{
    background-color: darkblue;
}